<a href="/mentorados" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="fs-6 d-none d-sm-inline"></i><span class="fs-6 d-none d-sm-inline"><i class="bi bi-people-fill"></i> Mis mentorados</span>
</a>
<br>
