<a href="/empleados" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-6 d-none d-sm-inline">Empleados del chapter</span>
</a>
<br>

<a href="/feedback" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="fs-6 d-none d-sm-inline"></i> <span class="fs-6 d-none d-sm-inline">Formatos de
        Evaluación</span>
</a>
<br>


<a href="/Periodo" class="d-flex align-items-center pb-2 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-6 d-none d-sm-inline">Periodos de Evaluación</span>
</a>
<br>