<%- include('includes/sidenavsup.ejs') %>
    <body>
        <!--div class="container px-4"-->
            <h2 id="principal">Formatos de Evaluaci贸n</h1>
            <br>
            <h3>Consultar formatos de evaluaci贸n</h2>
            <a class="btn btn-outline-secondary" href="/feedback/generarFormato" role="button">Consultar</a>
            <br><br>
            <h3>Generar formatos de evaluaci贸n</h2>
            <a class="btn btn-outline-secondary" href="/feedback/generarFormato" role="button">Generar</a>
            <br><br>
            <h3>Modificar formatos de evaluaci贸n</h2>
            <a class="btn btn-outline-secondary" href="/feedback/generarFormato" role="button">Modificar</a>
            <br><br>
    <!--/div-->
    </body>
<%- include('includes/foot.ejs') %></br>