<%- include('includes/sidenavsup.ejs') %>

    <body>
        <h2 id="principal">Generar periodos de Evaluación</h1>
            <br><br>
            <div class="container px-8">
                <div class="row justify-content-md-center">
                    <div class="col-sm-7">
                        <form id="formPeriodo" class="was-validated">
                            <div class="row justify-content-md-center">

                                <div class="col-sm-6">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputFechaInicio">Fecha Inicio</label> <br>
                                        <br> <input type="date" id="inicioFecha" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="inputFechaFinal">Fecha Fin</label> <br>
                                        <br> <input type="date" id="finFecha" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                        </label>
                                    </div>
                                    <br>
                                    <div class="row justify-content-md-end">
                                        <div class="col-sm-4 align-self-end">
                                            <button class="btn btn-primary" type="submit"
                                                id="button1">Registrar</button>
                                        </div>
                                    </div>

                        </form>
                        <div class="form" id="myForm">
                        </div>
                    </div>
                </div>
     </body>
    <script>





        let nivelp;


        document.getElementById("myForm").style.display = "none";
        document.getElementById("formPeriodo").onsubmit = () => {
            console.log("Submit boton");
            return false;
        }

    
        document.getElementById("button1").onclick = () => {


            let fecha_inicial = document.getElementById("inicioFecha").value;
            let fecha_final = document.getElementById("finFecha").value;

    
            let anio_periodo = parseInt(String(fecha_final).substring(0,4 ));
            let mes_inicioPeriodo = parseInt(String(fecha_inicial).substring(5,7 ));
            let mes_finPeriodo = parseInt(String(fecha_final).substring(5,7 ));


            fecha_final = fecha_final.toString();
            console.log("String fecha" + fecha_final);
            // const dateString = fecha_final.toLocaleString();
            // const enDateString = fecha_final.toLocaleString("es-US");


            const nombreMesFinal= NombreMes(mes_finPeriodo);
            const nombreMesInicio= NombreMes(mes_inicioPeriodo);    


            console.log("random");  
            console.log("mes final " + nombreMesFinal);
            console.log("mes inicio " + nombreMesInicio);
            console.log(anio_periodo);
            console.log(mes_finPeriodo);
            console.log(mes_inicioPeriodo);

            nombre_periodo =  nombreMesInicio + ' - ' + nombreMesFinal ;


            if (fecha_inicial != '' && fecha_final != '') {
                document.getElementById("inicioFecha").setAttribute("readonly", "readonly");
                document.getElementById("finFecha").setAttribute("readonly", "readonly");


                let respuesta = alert('Periodo de evaluación ' + nombre_periodo + ' generado.');
                document.getElementById('myForm').innerHTML = respuesta;

                document.getElementById("button1").style.visibility = "hidden";
                document.getElementById("myForm").style.display = "block";
                document.getElementById("button1").style.visibility = "hidden"; 
              //  accion_asincrona();
                console.log('Si hay fechas');

                
            }

        }


        //VERIFICAR QUE LAS FECHAS SE GUARDEN EN LA CONSOLA CUANDO HAY UN CHANGE 

        document.getElementById("inicioFecha").onchange = () => {
            let fecha_inicial = document.getElementById("inicioFecha").value;
            console.log(fecha_inicial);

        }
        document.getElementById("finFecha").onchange = () => {
                let fecha_final = document.getElementById("finFecha").value;
                console.log(fecha_final);

        }




        function NombreMes (mes) {
            console.log('Nombre de mes para ' + mes + 'prueba');

            let meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
            nombreMes = meses[mes];
            return nombreMes;
        }



    </script>
    <%- include('includes/foot.ejs') %></br>