<%- include('includes/sidenavsup.ejs') %>

   <body>
      <h2 id="principal"> Modificando Formatos de Evaluación</h2>
      <br><br>
      <div class="container px-8">
         <div class="row justify-content-md-center">
            <div class="col-sm-7">

               <form id="form1" class="was-validated">

                  <!-- <div class="input-group has-validation mb-3">
                     <span class="input-group-text" id="basic-addon1">Nombre del Cuestionario</span>


                     <input type="text" class="form-control" id="nombreCuestionario" placeholder="Cuestionario1"
                        aria-describedby="basic-addon1" required>
                     <div class="invalid-feedback"> Ingrese el nombre del cuestionario a modificar</div> -->

                  <!-- !-----------------------------------------Apartado de Dimension en la vista   !----------------------------------------- -->

                  <!-- -------------------Forms donde se despliegan los elementos de la base de datos------------------- -->


                  <div class="row justify-content-md-center">
                     <div class="col-sm-6">
                        <div class="input-group mb-3">
                           <label class="input-group-text" for="inputDimension">Dimensión</label>

                           <select class="form-select" id="inputDimension" required aria-label="select example">
                              <option value="" disabled selected>Selecciona una dimensión</option>
                              <% for (let dimension of dimensiones) { %>
                                 <option value="<%= dimension.idDimension %>">
                                    <%= dimension.nombre %>
                                 </option>
                                 <% } %>
                           </select>
                           <div class="invalid-feedback">Selecciona una dimensión</div>
                        </div>
                     </div>


                     <div class="col-sm-6">
                        <div class="input-group mb-3">
                           <label class="input-group-text" for="inputNivel">Nivel</label>
                           <select class="form-select" id="inputNivel" required aria-label="select example">
                              <option value="" disabled selected>Selecciona un nivel</option>
                              <option value="1">1 </option>
                              <option value="2">2 </option>
                              <option value="3">3 </option>
                              <option value="4">4 </option>
                              <option value="5">5 </option>
                           </select>
                           <div class="invalid-feedback">Selecciona un nivel</div>
                        </div>
                     </div>
                  </div>
                  <br>

                  <div class="row justify-content-md-end">
                     <div class="col-sm-2 align-self-end">

                        <a href="#" class="btn btn-primary" id="Continuar">Continuar</a>
                     </div>
                  </div>




                  <!-- !-----------------------------------------Apartado de Dimension en la vista   !----------------------------------------- -->


                  <br>


                  <div class="d-flex flex-row-reverse">
                     <div class="p-2">
                        <input class="btn btn-primary" type="submit" id="Enviar" value="Enviar">
                     </div>
                  </div>




                  <div class="form" id="myForm">
                  </div>
            </div>
         </div>
   </body>
   <script>



      // ---------------------------Funciones de AJAX---------------------------

      document.getElementById("Enviar").style.display = "none";
      // document.getElementById("pregunta_nueva").style.display = "none";
      // document.getElementById("pregunta1").disabled = true;

      // document.getElementById("button3").style.display = "none";
      // document.getElementById("pregunta_nueva2").style.display = "none";




      document.getElementById("Continuar").onclick = () => {
         // let nombre = document.getElementById("nombreCuestionario").value;
         let dimension = document.getElementById("inputDimension").value;
         let nivel = document.getElementById("inputNivel").value;
         console.log("nivel: ", nivel);
         console.log("dimension: ", dimension);



         if (dimension != '' && nivel != '') {
            console.log("hola");
            // document.getElementById("pregunta_nueva").style.display = "block";
            document.getElementById("Enviar").style.display = "block";
            document.getElementById("nombreCuestionario").setAttribute("readonly", "readonly");
            document.getElementById("inputDimension").setAttribute("readonly", "readonly");
            document.getElementById("inputNivel").setAttribute("readonly", "readonly");
            document.getElementById("Continuar").style.visibility = "hidden";
            // accion_asincrona('pregunta0');
            console.log('t');
         }

      }

      const accion_asincrona = (id) => {
         const nivel = document.getElementById('inputNivel').value;
         const dimension = document.getElementById('inputDimension').value;
         console.log(nivel);

         fetch('/feedback/buscarFormato/' + nivel + '/' + dimension, {
            method: 'GET',
            headers: {
               'Content-Type': 'application/json',
               //'csrf-token': csrf
            }
         }).then(result => {
            return result.json();
         }).then(data => {

            console.log(data);
            let respuesta = '';
            respuesta += '<option value ="" disabled selected> Selecciona una pregunta</option>';

            for (let d of data) {
               respuesta += '<option value="' + d.idPregunta + '">' + d.pregunta + '</option>';
            }

            document.getElementById('pregunta0').innerHTML = respuesta;
            document.getElementById(id).innerHTML = respuesta;

         }).catch(err => {
            console.log(err);

         });
      };


      // document.getElementById("pregunta0").onchange = () => {
      //    if (document.getElementById("inputDimension").value == 1) {
      //       document.getElementById("button3").style.display = "block";
      //    }
      // }




      // document.getElementById("button3").onclick = () => {
      //    document.getElementById("pregunta_nueva2").style.display = "block";
      //    document.getElementById("pregunta1").disabled = false;
      //    document.getElementById("pregunta0").setAttribute("readonly", "readonly");
      //    document.getElementById("nombreCuestionario").setAttribute("readonly", "readonly");
      //    document.getElementById("inputDimension").setAttribute("readonly", "readonly");
      //    document.getElementById("inputNivel").setAttribute("readonly", "readonly");
      //    document.getElementById("button3").style.visibility = "hidden";
      //    accion_asincrona('pregunta1');
      // }

   </script>

   <style>
      select[readonly] {
         /*Simular campo inativo - Sugestão @GabrielRodrigues*/
         pointer-events: none;
         touch-action: none;
      }
   </style>


   <%- include('includes/foot.ejs') %>