<%- include('includes/sidenavsup.ejs') %>
    <%- include('includes/sidenavFin.ejs') %>

            <h2 id="principal">Generar periodos de evaluación</h1>
            <br>
         
            <a class="btn btn-outline-secondary" href="/Periodo/ingresarPeriodos" role="button">Generar</a>
            <br><br>

        

            <%- include('includes/foot.ejs') %></br>