<%- include('includes/sidenavsup.ejs') %>
    <body>
            <h2 id="principal">Generar periodos de evaluación</h1>
            <br>
         
            <a class="btn btn-outline-secondary" href="/Periodo/ingresarPeriodos" role="button">Generar</a>
            <br><br>
    </body>
<%- include('includes/foot.ejs') %></br>