/* * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  .wrapper {
    min-height: calc(100% - 4rem);
  }

footer {
    height: 4rem;
    background-color: #bb3131;
  } */

  .alert-float {
    position: fixed;
    bottom:0;
    right:1em;
    z-index: 1000;
  }